.profile-image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.upload-wrapper,
.sync-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.098);
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.upload-wrapper {
  margin-right: -30px;
}
.sync-wrapper {
  margin-left: -30px;
}
.upload-icon,
.sync-icon {
  width: 20px;
}
.avatar-icon {
  border-radius: 100%;
  width: 100px;
  z-index: 99;
}
.profile-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 0 30px 0;
}
.info-wrapper {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.098);
  width: 95%;
  height: 40px;
  border-radius: 20px;
}
.info-wrapper:not(:first-child) {
  margin-top: 20px;
}
.info-icon {
  width: 20px;
  margin: 0 10px 0 10px;
}
/* .dot-wrapper {
  margin-top: 4px;
} */
.dot-icon {
  width: 6px;
}
.dot-icon:not(:first-child) {
  margin-left: 5px;
}
