.subscribe {
  background-image: url("../../images/Subscribe/Background.png");
  background-size: cover;
  color: white;
}
.subscribe-container {
  width: 70%;
  height: 60%;
}
.subscribe-title {
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 0;
}
.subscribe-description {
  font-size: small;
  font-weight: lighter;
}
.email-input {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding-left: 30px;
  width: 170px;
  height: 40px;
  margin-bottom: 10px;
}
::placeholder {
  color: white;
  padding-left: 40px;
}
.email-icon {
  margin: 13px 0 0 10px;
}
.email-submit {
  border-radius: 20px;
  background-color: white;
  border: none;
  width: 200px;
  height: 40px;
  filter: drop-shadow(0 0 0.2rem rgba(139, 139, 139, 0.554));
}

@media (max-width: 768px) {
  .subscribe {
    height: 240px;
  }
  .subscribe-title {
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .subscribe-description {
    font-size: xx-small;
    font-weight: lighter;
  }
  .email-input {
    margin-bottom: 5px;
  }
}
