.footer {
  display: flex;
  direction: row;
  align-items: center;
  background-color: #f2f2f2;
  height: 120px;
}
.leftside-footer,
.rightside-footer,
.number-of-pages {
  width: 33%;
}
.leftside-footer {
  display: flex;
  margin-left: 30px;
}
.arrow-left,
.arrow-right {
  height: 15px;
}
.rightside-footer {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}
.number-of-pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.page-number {
  margin: 0 2% 0 2%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-selected {
  background-color: #fa632e;
  color: white;
  border-radius: 100%;
}
@media (max-width: 768px) {
  .footer {
    height: 100px;
  }
}
